* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: white;
    padding: 20px;
    text-align: center;
}

.grid {
    margin-top: 1rem;
}

.grid h2 {
    margin-bottom: 1rem;
}

.grid .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
}

.grid .grid-container .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.flexbox {
    margin-top: 1rem;
}

.flexbox h2 {
    margin: 1rem 0;
}

.flexbox .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.flexbox .flex-container .flex-item {
    flex-basis: 250px;
}

.flexbox .flex-container .flex-item img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 10px;
}

/* @media screen and (max-width:991px) {
    .flexbox .flex-container .flex-item {
        flex: 50%;
        max-width: 50%;
    }
} */

/* @media screen and (max-width:600px) {
    .flexbox .flex-container .flex-item {
        flex: 100%;
        max-width: 100%;
    }
} */

@media screen and (max-width: 296px) {
    .grid .grid-container {
        grid-template-columns: 1fr;
    }
}